<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>array</title>
</head>
<body>
    <h2>Array</h2>
    <script>
        // 값 그룹화는 하고 싶지만 속성 이름을 따로 주고 싶지 않을 때 배열을 사용
        
    </script>
</body>
</html>