<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>객체 (Object)</h2>
    <script>
        // 객체 = {속성: 값}
        // 속성은 프로퍼티
        // 속성에 함수가 들어있을 경우 메서드
        // string에 .을 붙히게 되면 객체로 판단하게 되어 length를 사용할 수 있음
        // 메서드 안에 함수는 익명함수로 만들면 됨
        // 메서드 속성이름이 있기 때문
        // . 뒤에는 변수를 사용할 수 없다. 배열로 처리해야 함

    </script>
</body>
</html>