<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>null_undefined</title>
</head>
<body>
    <h2>null_undefined</h2> 
    <script>
        var 빈값;
        console.log(빈값); // undefined 정의되지 않음
        // undefined와 null의 차이
        // undefined는 새로운 변수에 정의된 값이 없을 경우 컴퓨터가 넣은 값
        // null은 직접 빈값을 넣고 싶을 때, 내가 고의적으로 빈값 저장
    </script>
</body>
</html>