<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>끝말잇기</title>
</head>
<body>
    <script>
        var body = document.body;
        var word = document.createElement('div');
        word.textContent = '하이';
        body.append(word);
        var form = document.createElement('form');
        body.append(form);
        var input = document.createElement('input');
        form.append(input);
        var button = document.createElement('button');
        button.textContent = '입력';
        form.append(button);
        var resultForm = document.createElement('div');
        body.append(resultForm);

        form.addEventListener('submit', function(e){
            e.preventDefault();
            if (word.textContent[word.textContent.length -1] === input.value[0]) {
                word.textContent = input.value
                resultForm.textContent = '딩동댕'    
            } else {
                resultForm.textContent = '땡'  
            }
            input.value = '';
            input.focus();  
        })
    </script>
</body>
</html>